.add{
    border: 1px solid black;
    width: 70%;
    margin: auto;
    background-color: aliceblue;
}
.add>div{
    display: flex;
    justify-content: space-evenly;
}
.add>div>span:nth-child(1){
    color: rgb(4, 0, 255);
    font-size: 25px;
     font-weight: 400;
}
.add>div>span:nth-child(2){
    color: green;
    font-size: 25px;
     font-weight: 400;
}
.btn{
    width: 50%;
    height: 45px;
    background-color: green;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    border: none;

    
}
.btn:hover{
    color: black;
    cursor: pointer;
}