.cartmain{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}
.cartbox{
    width: 90%;
    margin: auto;
    height: 500px;
    border: 1px solid black

}
.cartbox>div{
    width: 80%;
    height: 60%;
    margin: auto;
}
.cartbox>div>img{
    width: 100%;
    height: 100%;
   
  
}
.btn{
    margin-top: 50px;
    border: 1px solid yellow;
}
body{
    background-color: antiquewhite;
}
