.Navbar1{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    
    margin: auto;
    background-color: greenyellow;
    border-radius: 18px;
  
   
}
.title{
    color: black;
    font-size: 20px;
    text-decoration: none;
}